<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/eventDetail.css">
    <% if (typeof extraCSS !== 'undefined') { %>
        <% extraCSS.forEach( (file) => { %>
            <link rel="stylesheet" href="/css/<%= file %>.css">
        <% } ) %>
    <% } %>
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/images/ColorStack_UNC-Charlotte_Logo.png" alt="Logo" id="logo">
            <nav id="user-navigation">
            <% if (!user) { %>
                <a class="invis" href="/users/login">Login</a>
                <a class="vis" href="/users/signup">Signup</a>
            <% } else { %>
                <a class="invis" href="/users/logout">Logout</a>
                <a class="vis" href="/events/new">Create Event</a>
                <a class="vis" href="/users/profile"><%= user.firstname %>'s Profile</a>
            <% } %>
            </nav>
        </div>
        <nav id="main-navigation">
            <a href="/">Home</a>
            <a href="/events">Events</a>
        </nav>
    </header>
    <main>
    <% if (errorMessages.length > 0) { %>
        <% errorMessages.forEach(message => { %>
            <div class='error'>
                <%= message %>
            </div>
        <% }) %>
    <% } %>

    <% if (successMessages.length > 0) { %>
        <% successMessages.forEach(message => { %>
            <div class='success'>
                <%= message %>
            </div>
        <% }) %>
    <% } %>
