<%- include('../partials/header', {title: 'Profile', extraCSS: ['eventsList']}) %>

	<h1>Welcome, <%= user.firstname %>!</h1>

	<div id="events">
		<% if (events.length) { %>
			<% categories.forEach(cat => { %>
				<h2><%= cat.charAt(0).toUpperCase() + cat.slice(1) %> Events</h2>
				<br />
				<% events.filter(event => event.category === cat).forEach(event => { %>
					<div class="event-card <%= event.category %>">
						<h2><%= event.title %></h2>
						<p class="category"><%= new Date(event.startDateTime).toLocaleString() %></p>
						<p><%= event.description %></p>
						<div class="options">
							<form><button type='submit' formmethod='GET' formaction='/events/<%= event.id %>/edit' class='learn-more'>Edit Event</button></form></li>
							<form><button type='submit' formmethod='POST' formaction='/events/<%= event.id %>?_method=DELETE' class='learn-more'>Delete Event</button></form></li>
						</div>
					</div>
				<% }) %>
				<% if (events.filter(event => event.category === cat).length % 2 === 1) { %>
					<br />
				<% } %>
			<% }) %>
		<% } else { %>
			<h2>No Events Found</h2>
		<% } %>
	</div>

<%- include('../partials/footer') %>
