<%- include('../partials/header', {title: 'Profile', extraCSS: ['eventsList']}) %>

	<h1>Welcome, <%= user.username %>!</h1>

	<div id="events">
		<% if (events.length) { %>
			<% categories.forEach(cat => { %>
				<h2><%= cat.charAt(0).toUpperCase() + cat.slice(1) %> Events</h2>
				<br />
				<% events.filter(event => event.category === cat).forEach(event => { %>
					<div class="event-card <%= event.category %>">
					<h2><%= event.title %></h2>
					<p class="category"><%= new Date(event.startDateTime).toLocaleString() %></p>
					<p><%= event.description %></p>
					<a class="learn-more" href="./events/<%= event.id %>">Learn More!</a>
					</div>
				<% }) %>
				<% if (events.filter(event => event.category === cat).length % 2 === 1) { %>
					<br />
				<% } %>
			<% }) %>
		<% } else { %>
			<h2>No Events Found</h2>
		<% } %>
	</div>

<%- include('../partials/footer') %>
