<%- include('../partials/header', {title: 'Event Details'}) %>

<div class="title-bar">
    <h2><%= user.firstname + ' ' + user.lastname %></h2>
    <h1><%= event.title %></h1>
</div>

<section id="event-details">
    <div class="event-info">
        <p><b>Start:</b> <%= new Date(event.startDateTime).toLocaleString() %></p>
        <p><b>End:</b> <%= new Date(event.endDateTime).toLocaleString() %></p>
        <p><b>Location:</b> <%= event.location %></p>
        <p><b><%= event.category.charAt(0).toUpperCase() + event.category.slice(1) %> Event:</b> <%= event.description %></p>
    </div>
    <img src="<%= event.image %>" alt="Event image">
</section>

<form action="/events/<%= event.id %>/rsvp" method="POST">
    <button type="submit" name="choice" id="choice" value="YES">YES</button>
    <button type="submit" name="choice" id="choice" value="NO">NO</button>
    <button type="submit" name="choice" id="choice" value="MAYBE">MAYBE</button>
</form>

<%- include('../partials/footer') %>
