<%- include('../partials/header', {title: 'Event Details'}) %>

<div class="title-bar">
    <h2><%= event.organizer %></h2>
    <h1><%= event.title %></h1>
    <div class="options">
        <ul>
            <li><form><button type='submit' formmethod='GET' formaction='/events/<%= event.id %>/edit'>Edit Event</button></form></li>
            <li><form><button type='submit' formmethod='POST' formaction='/events/<%= event.id %>?_method=DELETE'>Delete Event</button></form></li>
        </ul>
    </div>
</div>

<section id="event-details">
    <div class="event-info">
        <p>Date: <%= event.date %></p>
        <p>Location: <%= event.location %></p>
        <p><%= event.description %></p>
    </div>
    <img src="<%= event.img_src %>" alt="Event image">
</section>

<div id="buttons">
    <button id="register">Register</button>
    <button id="cancel">Cancel</button>
</div>

<%- include('../partials/footer') %>
