<%- include('../partials/header', {title: 'Event Details'}) %>

<div class="title-bar">
    <h2><%= user.firstname + ' ' + user.lastname %></h2>
    <h1><%= event.title %></h1>
    <div class="options">
        <ul>
            <li><form><button type='submit' formmethod='GET' formaction='/events/<%= event.id %>/edit'>Edit Event</button></form></li>
            <li><form><button type='submit' formmethod='POST' formaction='/events/<%= event.id %>?_method=DELETE'>Delete Event</button></form></li>
        </ul>
    </div>
</div>

<section id="event-details">
    <div class="event-info">
        <p><b>Start:</b> <%= new Date(event.startDateTime).toLocaleString() %></p>
        <p><b>End:</b> <%= new Date(event.endDateTime).toLocaleString() %></p>
        <p><b>Location:</b> <%= event.location %></p>
        <p><b><%= event.category.charAt(0).toUpperCase() + event.category.slice(1) %> Event:</b> <%= event.description %></p>
    </div>
    <img src="<%= event.image %>" alt="Event image">
</section>

<div id="buttons">
    <button id="register">Register</button>
    <button id="cancel">Cancel</button>
</div>

<%- include('../partials/footer') %>
